<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.meiman.meimanwallet.dao.mapper.MmUserMapper" >
    <resultMap id="BaseResultMap" type="com.meiman.meimanwallet.entity.MmUser" >
        <id column="id" property="id" jdbcType="INTEGER" />
        <result column="name" property="name" jdbcType="VARCHAR" />
        <result column="pass" property="pass" jdbcType="VARCHAR" />
        <result column="role" property="role" jdbcType="INTEGER" />
        <result column="rank" property="rank" jdbcType="INTEGER" />
        <result column="stu" property="stu" jdbcType="INTEGER" />
    </resultMap>
    <sql id="Base_Column_List" >
        id, name, pass, role, rank,stu
    </sql>
    <sql id="where_sql" >
        <where>
            <if test="name != null and name != ''" >
                name like #{name}
            </if>
            <if test="role != null and role !=''" >
                role = #{role}
            </if>
            <if test="rank != null and rank !=''" >
                rank = #{rank}
            </if>
            <if test="stu != null and stu !=''" >
                stu = #{stu}
            </if>
        </where>
    </sql>
    <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
        select
        <include refid="Base_Column_List" />
        from mm_user
        where id = #{id,jdbcType=INTEGER}
    </select>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
        delete from mm_user
        where id = #{id,jdbcType=INTEGER}
    </delete>
    <insert id="insert" parameterType="com.meiman.meimanwallet.entity.MmUser" >
        insert into mm_user (id, name, pass,
        role, rank, stu)
        values (#{id,jdbcType=INTEGER}, #{name,jdbcType=VARCHAR}, #{pass,jdbcType=VARCHAR},
        #{role,jdbcType=INTEGER}, #{rank,jdbcType=INTEGER}, #{stu,jdbcType=INTEGER})
    </insert>
    <update id="updateByPrimaryKey" parameterType="com.meiman.meimanwallet.entity.MmUser" >
        update mm_user
        set name = #{name,jdbcType=VARCHAR},
        pass = #{pass,jdbcType=VARCHAR},
        role = #{role,jdbcType=INTEGER},
        rank = #{rank,jdbcType=INTEGER},
        stu = #{stu,jdbcType=INTEGER}
        where id = #{id,jdbcType=INTEGER}
    </update>
    <select id="selectList" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List" />
        from mm_user

        limit #{start},#{end}
    </select>
    <select id="selectListCount" resultType="java.lang.Integer">
        select count(1) from mm_user
    </select>
</mapper>